@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

body {
    box-sizing: border-box;
    background: #f2f2f2;
    font-family: 'Josefin Sans', sans-serif;
}


h1, h2, .navbar-brand {
    font-family: 'Fruktur', cursive;
}

a {
    text-decoration: none;
}


.navbar {
    background-color: white !important;
}

.navbar-brand {
    font-size: 1.4rem;
    color: #294c69;
}

.navbar ul li a {
    font-size: 18px;
    font-weight: 500;
}

.active {
    color: #294c69 !important;
    font-weight: 600 !important;
}

.newsletter {
    padding: 80px 0;
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.newsletter .content h2 {
    color: #243c4f;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 1.4rem;
    font-family: 'Josefin Sans', sans-serif;
}

.newsletter .content h1 {
    margin-bottom: 40px;
    color: #294c69;
    font-size: 2.8rem;
}

.newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius: 0;
}

.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
}

.newsletter .content .btn, .submit {
    min-height: 50px;
    border-radius: 0;
    background: #243c4f;
    color: #fff;
    font-weight: 600;
}

.link-btn {
    min-height: auto !important;
}

.asteriskField {
    display: none;
}


.form-control {
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 1.8rem;
}

.asteriskField {
    display: none;
}

select.form-control {
    color: black !important;
}

.form-check {
    margin-top: 1.5rem;
}

@media screen and (min-width:700px)  {
    .newsletter {
        min-height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:480px)  {
    .newsletter .content h1 {
        margin-bottom: 40px;
        font-size: 2.5rem;
    }
}