.submit {
    font-weight: 500;
    background-color: #243c4f;
    color: white;
    transition: 0.3s ease-in-out;
}


.form-control {
    border-radius: 10px;
    padding: 20px;
}

.asteriskField {
    display: none;
}


.form-check {
    margin-top: 1.5rem;
}

