{% extends 'newsletter/base.html' %}
{% block title %}Admin access{% endblock title %}
{% block content %}
<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="content">
                    
                        <h1>Admin access</h1>
                
                        <p>To send a news letter you need to login <a href="http://127.0.0.1:8000/admin/login/?next=/send-news-letter/">here</a> as a staff member or an admin</p>

                        <p>Username: <b>admin</b></p>
                        <p>Password: <b>admin</b></p>
                       
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

