{% load static %}
{% load crispy_forms_tags %}
{% block title %}Subscribe{% endblock title %}

{% block content %}\
 <section class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content">
                        <form method="post">
                            {% csrf_token %}
                            <h2 class="text-center">SUBSCRIBE TO OUR NEWSLETTER</h2>
                            {% include 'newsletter/message.html' %}
                            {{form|crispy}}
                            <button class="btn" type="submit">Subscribe</button>

                            <!-- <div class="input-group">
                                <input type="email" class="form-control" placeholder="Enter your email">
                                <span class="input-group-btn">
                                    <button class="btn" type="submit">Subscribe</button>
                                </span>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
   