{% extends 'newsletter/base.html' %}
{% load static %}
{% block content %}
<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="content">
                    <form method="post">
                        {% csrf_token %}
                        <h2 class="text-center text-uppercase">Enter your email so we can send you the link to Edit your preference</h2>
                        {% include 'newsletter/message.html' %}
                

                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Enter your email">
                            <span class="input-group-btn">
                                <button class="btn" type="submit">Send Link</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

