{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block link %}
<link rel="stylesheet" href="{% static 'styles/subscribe.css' %}">
{% endblock link %}
{% block title %}Unsubscribe to newsletter | {% endblock title %}

{% block contents %}
<div class="col-md-12 mb-0 post p-3 pb-4 my-lg-0 p-lg-5 mb-5 full-post">
    <h1 class="pb-3 mb-4 mb-lg-5 heading">Unsubscribe from our newsletter</h1>
    {% include 'message.html' %}
    <form method="post" data-aos="fade-in">
    {% csrf_token %}
    <input type="email" name="email" value="{{written_email}}" placeholder="Enter your email" class="form-control">
    <button class="btn submit mt-lg-3" type="submit">Send link</button>
    </form>
</div>
{% endblock contents %}

