{% extends 'newsletter/base.html' %}
{% load static %}
{% block title %}Subscription confirmed | {% endblock title %}

{% block content %}
<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="content">
                    <form method="post">
                        {% csrf_token %}
                        {% include 'newsletter/message.html' %}
                        <h2 class="text-center text-uppercase">Your subscription to our list has been confirmed.<h2>
                        <p>Thank you for subscribing!</p>
                        <a href="{% url 'home' %}" class="btn link-btn mb-lg-0 mb-md-0 mb-sm-0">Continue to home</a>
                        <a href="{% url 'edit_preference' email_slug %}" class="btn link-btn">manage your preference</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}



