{% extends 'newsletter/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block link %}
<link rel="stylesheet" href="{% static 'styles/subscribe.css' %}">
{% endblock link %}
{% block title %}Subscription confirmed | {% endblock title %}

{% block content %}
<div class="col-md-12 mb-0 post p-3 pb-4 my-lg-0 mb-5 p-lg-5 full-post subscription">
    <h1 class="pb-3 mb-4 mb-lg-5 heading">Subscription confirmed</h1>
    {% include 'newsletter/message.html' %}
    <p>Your subscription to our list has been confirmed.</p>
    <p>Thank you for subscribing!</p>
    <p>Victor okolie</p>
    <div class="d-lg-flex">
        <a href="{% url 'home' %}" class="btn submit mr-3 text-dark font-weight">Continue to our website</a>
        <p class="mr-3 mt-2 mt-lg-0">or</p>
        <a href="{% url 'edit_preference' email_slug %}" class="btn submit text-dark">manage your preference</a>
    </div>
</div>
{% endblock content %}

