{% extends 'newsletter/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block link %}
<link rel="stylesheet" href="{% static 'styles/subscribe.css' %}">
{% endblock link %}
{% block title %}Unscription successful | {% endblock title %}

{% block content %}
<div class="col-md-12 mb-0 post p-3 pb-4 my-5 p-lg-5 subscription full-post">
    <h1 class="mb-3 heading">Unsubscribe successful</h1>
    <form method="post" class="mb-4" data-aos="fade-in">
        {% csrf_token %}
        {% include 'newsletter/message.html' %}
        <p>You will no longer receive email marketing from this list</p>
        <p><b>if you have a moment, please let us know why you unsubscribed</b></p>
        
        {{form|crispy}}
        <button class="btn submit mt-3" type="submit">Submit</button>
    </form>
    <a href="{% url 'home' %}">&LeftArrow; &nbsp;return to our website</a>
</div>
{% endblock content %}

