{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block link %}
<link rel="stylesheet" href="{% static 'styles/subscribe.css' %}">
{% endblock link %}
{% block title %}Unsubscribe newsletter | {% endblock title %}

{% block contents %}
<div class="col-md-12 mb-0 post p-3 pb-4 my-lg-0 mb-5 p-lg-5 full-post">
    <h1 class="pb-3 mb-4 mb-lg-5 heading">Unsubscribe our newsletter</h1>
    <form method="post" data-aos="fade-in">
    <p>Do you want to stop receiving our emails?</p>
    {% csrf_token %}
    <div class="d-flex">
        <a href="{% url 'home' %}" class="btn submit mr-3 text-dark">No</a>
        <button class="btn-danger btn" type="submit">Yes</button>
    </div>
    </form>
</div>
{% endblock contents %}

