{% extends 'newsletter/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block link %}
<link rel="stylesheet" href="{% static 'styles/subscribe.css' %}">
{% endblock link %}
{% block title %}Unsubscribe newsletter | {% endblock title %}

{% block content %}




<div class="col-md-12 mb-0 post p-3 pb-4 mt-5 p-lg-5 full-post">
    <h1 class="mb-4" style="color: #294c69;">Unsubscribe our newsletter</h1>
    <form method="post">
    <p>Do you want to stop receiving our emails?</p> 
    {% csrf_token %}
    <div class="d-flex">
        <a href="{% url 'home' %}" class="btn btn-secondary me-3 d-block">No</a>
        <button class="btn-danger btn" type="submit">Yes</button>
    </div>
    </form>
</div>
{% endblock content %}

